* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rebeccapurple;
}
.btn {
  background-color: #fff;
  color: rebeccapurple;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
#toasts {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.toast {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
}

.toast.info{bottom: 1rem;
  right: 1rem;bottom: 1rem;
  right: 1rem;
  color: rebeccapurple;
}
.toast.success{
  color: green;
}
.toast.error{
  color: red;
}
